@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&display=swap");
:root {
  --bg: rgb(40, 105, 254, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

.webgl {
  left: 0;
  outline: none;
  position: fixed;
  top: 0;
}

.loading {
  background: #000000;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.loading.ended {
  opacity: 0%;
  transition: opacity 1.5s ease-in-out;
}

.loading__bar {
  background: #ffffff;
  height: 2px;
  position: absolute;
  top: 50%;
  transform-origin: top left;
  transform: scaleX(0);
  transition: transform 0.5s;
  width: 100%;
  z-index: 99;
}

.loading__bar.ended {
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 1.5s ease-in-out;
}

#sidepanel {
  background-color: var(--bg);
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidepanel-item {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#sidepanel p {
  font-weight: 800;
  color: #2869fe;
  margin-bottom: 5px;
  text-align: center;
}

#sidepanel button {
  border: none;
  color: #ffefef;
  cursor: pointer;
  display: block;
  padding: 5px;
  transition: all 0.4s;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: grey;
  opacity: 50%;
}

#info {
  background-color: var(--bg);
  border-radius: 1.2rem;
  color: #2869fe;
  margin: 20px;
  width: fit-content;
  max-width: 25vw;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 98;
}

#info p {
  color: #fff;
  margin-bottom: 5px;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #2869fe;
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 0.1rem;
  /* font-weight: 700; */
  color: #fff;
  padding-left: 8px;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 8px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  margin-right: 8px;
  transform: translateX(-4px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #2869fe;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
