.about-us > img {
  width: 100vw;
  height: auto;
}

.about-us-main {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
  left: 10px;
  transform: translateX(15vw);
}
.about-us h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 3rem;
}
.about-us-main h3 span {
  font-size: 1.5rem;
  color: var(--col-pri);
}
