article {
  padding: 1rem;
}

article div {
  padding: 1rem;
}

article h1 {
  font-size: 2rem;
}

article h2 {
  color: rgba(1, 1, 1, 0.5);
}

article img {
  width: 100%;
  height: 30vw;
}

article iframe {
  border: none;
}

.new-line {
  white-space: pre-wrap;
}