:root {
  --dark-theme-cols: #9701f0;
  --dark-theme-bg: #3f2e49;
}

.dashc {
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dashc-content {
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  width: 30vw;
  min-width: 300px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dashc-card {
  background-color: var(--col-pri);
  font-size: 20px;
}

.dashc-card:last-child {
  border-bottom: none;
}

.dashc-link,
.dashc-sublink {
  text-decoration: none;
  padding: 16px 20px;
  display: block;
  color: #000;
}

.dashc-link {
  color: #fff;
}

.dashc-submenu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
  color: #000;
  background: #fff;
}

/* .dashc-submenu:target { */
.dashc-submenu {
  max-height: 10rem;
}

.dashc-submenu-link {
  font-size: 16px;
  background: transparent;
  transition: all 0.2s ease-in;
}

.dashc-submenu-link:hover {
  background: #36253f;
}


@media screen and (max-width: 530px) {
  .dashc-content {
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    min-width: 240px;
  }
  
}