footer {
  width: 100vw;
  height: fit-content;
  background-color: #2869fe;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

footer ul {
  padding: 2rem;
  display: flex;
  height: fit-content;
  flex-direction: column;
  list-style-type: none;
}

footer ul > li:first-child {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}