:root {
  --navHt: 72px;
}

.hero {
  overflow-x: hidden;
  background-color: var(--col-pri);
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: var(--navHt) 1fr;
}

.hero-desktop {
  display: flex;
}

.hero nav {
  width: 100%;
  height: 100%;
  grid-column: span 2;
}

.hero-logo {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  height: 40px;
  width: auto;
}

.hero nav ul {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: flex-end;
  width: 90vw;
  list-style-type: none;
}

.hero nav ul li,
.hero ul li a,
.hero ul li a:visited,
.hero ul li a:not(:visited) {
  color: white;
  text-decoration: none;
  padding: 1rem;
  height: fit-content;
  cursor: pointer;
}

.hero nav ul li:hover,
.hero ul li:hover a {
  background-color: white;
  color: black;
}

.grid-child-outer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-grid {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.hero-grid header {
  transform: translateY(calc(-1*var(--navHt)/2));
}

.hero-img img {
  height: 50vh;
  width: auto;
}

.hero h1 {
  font-size: 8em;
  color: white;
  line-height: 6rem;
  cursor: default;
}

.hero h2 {
  font-size: 2em;
  color: white;
  cursor: default;
}

.hero-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hero-grid {
    margin-top: 16vh;
    margin-bottom: 22vh;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 4rem;
    align-items: flex-start;
    height: min-content;
  }

  .hero h1 {
    text-align: center;
    font-size: 3rem;
  }

  .hero-img img {
    border-radius: 20px;
    width: 90vw;
    height: auto;
  }
}

@media only screen and (max-width: 540px) {
  .hero-desktop {
    display: none;
  }

  .hero .hero-mobile {
    width: 100vw;
    display: flex;
    height: auto;
    padding-top: 32px;
    padding-left: 3.2rem;
    justify-content: flex-end;
  }

  .hero-mobile * {
    transition: all 0.8s ease-in;
  }

  .hero-mobile svg {
    position: relative;
    transform: scale(1.5);
    transition: display 0.5s ease-in-out;
    z-index: 100000000;
  }

  .hero-mobile .hero-mobile-cover {
    position: relative;
    padding: 10px 12px;
  }

  .hero-mobile-list {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .hero nav ul li,
  .hero nav ul li a {
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .hero-mobile-backdrop {
    transform: translateY(-1000px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 100;
  }

  .hero-mobile ul.hero-mobile-list-ul {
    z-index: 100001;
    position: fixed;
    left: 5%;
    margin: auto;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(-1000px);
  }

  .hero-mobile ul .hero-mobile-links,
  .hero-mobile ul .hero-mobile-links a {
    /* display: none; */
    font-size: 1.8rem;
  }

  .hero-mobile-list.active .hero-mobile-backdrop {
    transform: translateY(0);
  }

  .hero-mobile-list.active ul.hero-mobile-list-ul {
    transform: translateY(0);
  }
}

.hero-fade {
  opacity: 0.5;
  filter: blur(10px);
}
