.hero {
  background-color: var(--col-pri);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 72px 1fr;
}

.hero nav {
  width: 100%;
  height: 100%;
  grid-column: span 2;
}

.hero ul {
  width: 100%;
  height: 100%;
  display: flex;
  width: 90vw;
  list-style-type: none;
}

.hero header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

/** TODO: FIX THIS **/
.hero h1 {
  transform: translateY(-20%);
}

.hero h1 {
  font-size: 6em;
  color: white;
}
.hero h2 {
  font-size: 2em;
  color: white;
}

.hero-img {
}
