.navbar {
  background-color: var(--col-pri);
}

.navbar ul {
  height: auto;
}

.navbar ul li {
  padding: 1rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul svg {
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  color: white;
}

.navbar ul li:hover {
  background-color: white;
}

.navbar ul li:hover a, .navbar ul li:hover svg {
  color: black;
}

