.nav-bar {
  background-color: var(--col-pri);
}

.nav-bar ul {
  background-color: red;
  height: auto;
}

.nav-bar ul li {
  padding: 1rem;
  font-size: 16px;
  color: white;

  /* display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: antiquewhite; */
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 1rem;
}

.nav-bar ul svg {
  background-color: green;
  height: 40px;
  width: 40px;
  padding-left: 20px;
}

.nav-bar ul li:hover {
  color: black;
  background-color: white;
}
