.team {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: 10% 0;
  padding-top: 20vh;
  position: relative;
  width: 100vw;
}

.team h2 {
  font-size: 2rem;
}

.team h3 {
  font-size: 1.5rem;
}

.team p {
  font-size: 1.5rem;
}

.team .deco-rect {
  bottom: 0;
  height: 50vh;
  position: absolute;
  right: 0;
  width: 100vw;
  overflow-x: hidden;
  z-index: -100;
}

.team .deco-rect img {
  width: 100%;
  height: 100%;
  transform: translateY(30%) scale(2);
}

.team .team-content {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.team .team-content header {
  padding: 4rem 18%;
}

.team-card {
  background-color: transparent;
  display: grid;
  gap: 1rem;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: fit-content;
}

.team-card .card {
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 0px 1.5px -4px rgba(0, 0, 0, 0.028),
    0px 0px 5.5px -4px rgba(0, 0, 0, 0.042),
    0px 0px 42px -4px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  max-width: 380px;
  padding: 4rem 1rem 4rem 1rem;
  text-align: center;
  width: 75%;
  max-height: 360px;
}

.team-card .card h3 {
  font-size: 1.4rem;
  white-space: nowrap;
}

.team-card .card img {
  border-radius: 50%;
  height: 72px;
  width: 72px;
}

.team-card .card p {
  font-size: 1rem;
  height: 4.5rem;
}

.team-card .card span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.team-card .card span svg {
  font-size: 1.75rem;
}

@media only screen and (max-width: 960px) {
  .team {
    height: max-content;
  }

  .team .team-content header {
    padding: 0 6%;
    text-align: center;
  }

  .team .team-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-card {
    grid-column: span 1;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }
}
